.admin_login_container{
    text-align: center;
    margin-top: 10vh;
}
.Admin_page_DawonLogo img{
    max-width:30vw;
    min-width: 30vw;
}
.Admin_Page_LoginForm{
    display: flex;

    width:35vw;
    margin: 0 auto; 
}
.Admin_Page_LoginForm_Left{
    flex: 0.6; 
    text-align: right;
}
.Admin_Page_LoginForm_Right {
    flex: 1; 
    margin-left: 1vw;
    text-align: left;
    justify-content: left;
}

.Admin_Page_UserName_Password{
    height:5vh;
}
.Admin_Page_LoginForm_Text{
    height: 5vh;
}
.Login_Button{
    width:15vw;
    height: 5vh;
    background-color: white;
}
.Login_Button:hover{
    transition: 0.7s;
    background-color: rgb(30, 71, 95);
    color:white;
}