@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap');
*{
  font-family: 'Noto Sans KR', sans-serif;
}
html,
    body {

      height: 100%;
     
    }

    body {

      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0; 
    }
 
    .swiper {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper_slide_main{
      padding:1%;
      margin:5%;
      min-width: 80%;
      min-height:50%;
    }
    .swiper_slide_main_background{
      min-width: 100%;
      min-height: 100%;
    }
    .swiper_slide_main_background img{

      max-width: 100%;
      min-height:100%;
    }
    .swiper_slide_bottom{
      flex-grow: 1;
      display: flex;
      min-width: 80%;
      max-width: 80%;
      flex-direction: column;
    }
    .swiper_slide_bottom .bottom_1{
      width: 100%;
      min-height: 15%;
      max-height: 15%;
    }
    .swiper_slide_bottom .bottom_1 .bottom_1_left{
      font-family:fantasy;
      text-align: left;
      font-size: x-large;
      font-weight: 500;
      color:#676e72
    }
    .swiper_slide_bottom .bottom_title{
      text-align: left;
      min-height: 20%;
      max-height: 20%;
      font-size: x-large;
      color:#494b4d
    }
    .swiper_slide_bottom .bottom_text{
      text-align: left;
      color:#6c6e71;
      min-height: 20%;
      max-height: 20%;
      border:none;
       resize: none;
      background-color: rgb(255, 255, 255);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space:inherit;
      font-size:medium;
    }
    .swiper_slide_bottom .bottom_hr{
      min-width:100%;
      max-width:100%;
      min-height: 15%;
      max-height: 15%;
    }
    .swiper_slide_bottom .bottom_hr hr{
      height: 3px;
      background-color: #424242;
    }
    .swiper_slide_bottom .bottom_date_pay{
      min-width: 100%;
      max-width: 100%;
      min-height: 15%;
      max-height: 15%;
    }
    .swiper_slide_bottom .bottom_date_pay .bottom_date{
      float: left;
      text-align: left;
      min-width: 50%;
      max-width: 50%;
    }
    .swiper_slide_bottom .bottom_date_pay .bottom_pay{
      float: right;
      min-width: 50%;
      max-width: 50%;
      text-align: right;
    }
    .bottom_pay span{
      font-size: x-large;
      color:rgb(126, 164, 240)
    }

    @media (max-width: 699px) and (min-width: 401px) {
      .home-container .home-forth .customer_review .review_top .review_top_title{
        font-size: 15px;
    }
    .home-container .home-forth .customer_review .review_top .review_top_p{
      font-size: 10px;
    }
    .swiper_slide_bottom .bottom_1 .bottom_1_left{
      font-size: 15px;
    }
    .swiper_slide_bottom .bottom_title{
      font-size:7px;
    }
    .swiper_slide_bottom .bottom_text{
      font-size: 5px;
    }
    .swiper_slide_bottom .bottom_date_pay .bottom_date{
      font-size:  10px;
    }
 }
 @media (max-width: 850px) and (min-width:700px) {
    .swiper_slide_bottom .bottom_1 .bottom_1_left{
    font-weight:1;
    font-size: small;
    }
    .swiper_slide_bottom .bottom_title{
          text-align: left;
          min-height: 20%;
          max-height: 20%;
          font-size: x-small;
          color:#494b4d
    }
        .swiper_slide_bottom .bottom_text{
          text-align: left;
          color:#6c6e71;
          min-height: 20%;
          max-height: 20%;
          border:none;
           resize: none;
   
          overflow: hidden;
          text-overflow: ellipsis;
          white-space:inherit;
          font-size:xx-small;
        }
            .swiper_slide_bottom .bottom_date_pay{
              min-width: 100%;
              max-width: 100%;
              min-height: 15%;
              max-height: 15%;
              font-size:x-small;
            }
 }
 @media (max-width: 1099px) and (min-width:901px) {
  .home-container .home-forth .customer_review .review_top .review_top_title{
    font-size: 40px;
}
.home-container .home-forth .customer_review .review_top .review_top_p{
  font-size: 15px;
}
.swiper_slide_bottom .bottom_1 .bottom_1_left{
  font-size: 30px;
}
.swiper_slide_bottom .bottom_title{
  font-size: 20px;
}
.swiper_slide_bottom .bottom_text{
  font-size: 15px;
}
.swiper_slide_bottom .bottom_date_pay .bottom_date{
  font-size: 20px;
}
}
 @media (max-width:3000px) and (min-width:2000px) {
  .home-container .home-forth .customer_review .review_top .review_top_title{
      font-size: 60px;
  }
  .home-container .home-forth .customer_review .review_top .review_top_p{
    font-size: 25px;
  }
  .swiper_slide_bottom .bottom_1 .bottom_1_left{
    font-size: 45px;
  }
  .swiper_slide_bottom .bottom_title{
    font-size: 30px;
  }
  .swiper_slide_bottom .bottom_text{
    font-size: 24px;
  }
  .swiper_slide_bottom .bottom_date_pay .bottom_date{
    font-size: 25px;
  }
 }